<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fintech.intellinews.dao.AdvertiseDao">
    <sql id="Base_Column_Select">
        SELECT
        id,
        title,
        url,
        thumbnail,
        is_active,
        gmt_create,
        gmt_modified
        FROM oi_advertise
    </sql>

    <select id="selectById" resultType="AdvertiseEntity">
        <include refid="Base_Column_Select"/>
        WHERE id = #{id}
    </select>
</mapper>