<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fintech.intellinews.dao.ArticleDao">

    <select id="getArticlesByCategoryId" resultType="com.fintech.intellinews.entity.ArticleEntity">
        SELECT *
        FROM t_article
        WHERE category_id = ${categoryId}
    </select>
</mapper>