<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fintech.intellinews.dao.ArticleDao">
    <sql id="Base_Column_Select">
        SELECT
            id,
            title,
            source,
            thumbnail,
            content,
            keywords,
            section,
            gmt_create,
            gmt_modified
        FROM oi_article
    </sql>

    <select id="selectById" resultType="ArticleEntity">
        <include refid="Base_Column_Select"/>
        WHERE id = ${id}
    </select>

    <select id="select" resultType="ArticleEntity">
        <include refid="Base_Column_Select"/>
        <where>
            <if test="id!=null">
                AND id=#{id}
            </if>
            <if test="title!=null">
                AND title=#{title}
            </if>
            <if test="source!=null">
                AND source=#{source}
            </if>
            <if test="gmtCreate!=null">
                AND gmt_create=#{gmtCreate}
            </if>
        </where>
    </select>
</mapper>