<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fintech.intellinews.dao.ArticleCountDao">
    <sql id="Base_Column_Select">
        SELECT
            id,
            article_id,
            like_count,
            dislike_count,
            view_count,
            gmt_create,
            gmt_modified
        FROM oi_article_count
    </sql>

    <select id="getById" resultType="ArticleCountEntity">
        <include refid="Base_Column_Select"/>
        WHERE id = #{id}
    </select>

    <select id="getByArticleId" resultType="com.fintech.intellinews.entity.ArticleCountEntity">
        <include refid="Base_Column_Select"/>
        WHERE article_id = #{articleId}
    </select>

    <select id="mapArticleCountByIds" resultType="ArticleCountEntity">
        <include refid="Base_Column_Select"/>
        WHERE id IN
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <select id="getMaxViewCount" resultType="_int">
        SELECT max(view_count)
        FROM oi_article_count
    </select>

    <update id="updateViewCountByArticleId">
        UPDATE oi_article_count
        SET view_count = view_count + 1
        WHERE article_id = #{articleId}
    </update>
</mapper>