<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fintech.intellinews.dao.CommentDao">
    <sql id="Base_Column_Select">
        SELECT
            id,
            user_id,
            article_id,
            content,
            like_count,
            dislike_count,
            is_delete,
            gmt_create,
            gmt_modified
        FROM oi_comment
    </sql>

    <select id="select" parameterType="CommentEntity">
        <include refid="Base_Column_Select"/>
        <where>
            <if test="id!=null and id > 0">
                AND id = #{id}
            </if>
            <if test="userId!=null and userId > 0">
                AND user_id = #{userId}
            </if>
            <if test="articleId!=null and articleId > 0">
                AND article_id = #{articleId}
            </if>
        </where>
    </select>

    <select id="getById" resultType="CommentEntity">
        <include refid="Base_Column_Select"/>
        WHERE id = #{id}
    </select>

    <select id="listArticleComments" resultType="CommentEntity" parameterType="Long">
        <include refid="Base_Column_Select"/>
        WHERE article_id = #{articleId}
    </select>

    <select id="listUserComments" resultType="CommentEntity" parameterType="Long">
        <include refid="Base_Column_Select"/>
        WHERE user_id = #{userId}
    </select>

    <insert id="addUserComment" parameterType="CommentEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO oi_comment
            (user_id,
            article_id,
            content,
            gmt_create)
        VALUES (#{userId},#{articleId},#{content},#{gmtCreate})
    </insert>

</mapper>