<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fintech.intellinews.dao.PermissionDao">

    <select id="listByRoleName" resultType="java.lang.String">
        SELECT c.name
        FROM t_role a, t_role_permission b, t_permission c
        WHERE b.role_id = a.id
              AND b.permission_id = c.id
              AND a.name = #{name}
    </select>
</mapper>