<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fintech.intellinews.dao.SectionItemDao">
    <sql id="Base_Column_Select">
        SELECT
            id,
            section_id,
            item_info,
            gmt_create,
            gmt_modified
        FROM oi_section_item
    </sql>

    <select id="getById" resultType="SectionCountEntity">
        <include refid="Base_Column_Select"/>
        WHERE id = #{id}
    </select>

    <select id="getBySectionId" resultType="com.fintech.intellinews.entity.SectionItemEntity">
        <include refid="Base_Column_Select"/>
        WHERE section_id = #{id}
    </select>
</mapper>