<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fintech.intellinews.dao.UserArticleDao">
    <sql id="Base_Column_Select">
        SELECT
            id,
            user_id,
            resource_id,
            resource_type,
            gmt_create,
            gmt_modified
        FROM oi_user_article
    </sql>

    <select id="getById" resultType="UserArticleEntity">
        <include refid="Base_Column_Select"/>
        WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="UserArticleEntity">
        INSERT INTO oi_user_article(user_id,resource_id,resource_type,gmt_create)
        VALUES (#{userId},#{resourceId},#{resourceType},#{gmtCreate})
    </insert>

    <select id="getUserCollectArticles" parameterType="Long" resultType="UserArticleEntity">
        <include refid="Base_Column_Select"/>
        WHERE user_id = #{userId}
    </select>

    <select id="checkUserArticle" parameterType="map" resultType="integer">
        SELECT count(id)
        FROM oi_user_article
        WHERE user_id = #{userId} and resource_id = #{resourceId}
    </select>

    <delete id="deleteCollectArticle" parameterType="map">
        DELETE FROM oi_user_article
        WHERE user_id = #{userId} and resource_id = #{resourceId}
    </delete>

</mapper>