<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fintech.intellinews.dao.UserSetupDao">

    <select id="getCurrentUserSetup" resultType="UserSetupEntity" parameterType="Long">
          SELECT id,login_user_id,menu,gmt_create,gmt_modified
          FROM t_user_setup
          WHERE login_user_id = #{id}
    </select>

</mapper>