<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fintech.intellinews.dao.UserArticleDao">
    <sql id="Base_Column_Select">
        SELECT
            id,
            user_id,
            article_id,
            collect_time,
            gmt_create,
            gmt_modified
        FROM oi_user_article
    </sql>

    <select id="getById" resultType="UserArticleEntity">
        <include refid="Base_Column_Select"/>
        WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="UserArticleEntity">
        INSERT INTO oi_user_article(user_id,article_id,collect_time)
        VALUES (#{userId},#{articleId},#{collectTime})
    </insert>

    <select id="getUserCollectArticles" parameterType="Long" resultType="UserArticleEntity">
        <include refid="Base_Column_Select"/>
        WHERE user_id = #{userId}
    </select>

</mapper>